__pycache__
venv
CLEVR_train_scenes.json
CLEVR_val_questions.json
CLEVR_train_questions.json
CLEVR_test_questions.json
CLEVR_val_scenes.json
train_questions_none.en
train_questions_none.graph
val_questions_ext.en
val_questions_ext.graph
val_questions_none.en
val_questions_none.graph
trash
wrong_indices.txt
nmt_new_step_1000.pt
nmt_new_step_2000.pt
images
/estimators/shape_classifier_4
/estimators/left_estimator
/estimators/front_estimator
/estimators/behind_estimator
/estimators/right_estimator
/estimators/color_classifier_5
/estimators/size_estimator
/estimators/shape_classifier_4
/ende_ctranslate2/model.bin
/estimators/object_detection
test_answers.txt
UnCoRd.py
UnCoRdM.py
/vlbert/model/pretrained_model/bert
/vlbert/model/pretrained_model/resnet101-pt-vgbua-0000.model
/vlbert/model/pretrained_model/vl-bert-base-e2e.model
/vlbert/model/pretrained_model/vl-bert-base-prec.model
/vlbert/model/pretrained_model/vl-bert_base_res101_vqa-best.model
/vlbert/model/pretrained_model/bert-base-uncased/vocab.txt
/vlbert/pretrain
/vlbert/refcoco
/vlbert/vcr
/vlbert/common/lib/roi_pooling/build
/vlbert/common/lib/roi_pooling/__pycache__
/vlbert/common/lib/roi_pooling/C_ROIPooling.cp39-win_amd64.pyd
/vlbert/common/lib/roi_pooling/C_ROIPooling.cp38-win_amd64.pyd
vlbert/model/pretrained_model/bert-base-uncased/pytorch_model.bin


